body {
    /*background-color: lightpink;*/
     margin: 0;
     font-family: Helvetica;
     display: flex;
     justify-content: center;    
 }

 a:hover {
    cursor: pointer;
}

 
 #background {
    width: 100%;
}

#back_top_nav {
    height: 31px;
    background-color: #efeff0;
}

#back_header {
    height: 97px;
    background-color: white;
    border-bottom: 1px solid #d7d7d8;
}

#back_main_section {
    height: 1802px;
}

#back_info {
    height: 513px;
    background-color: rgb(99, 40, 224);
    margin-top: 20px;
}

#back_footer {
    height: 197.6px;
    background-color: rgb(26, 26, 26);
}

#container_intern_body {
    /*background-color: rgba(244, 118, 118, 0.2);*/
    height: 2648.5px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;

}

#intern_body {
    /*background-color: rgba(122, 191, 240, 0.5);*/
    height: 100%;
    width: 1200px;
    position: relative;
}

#top_nav {
    height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_nav_item {
    color: #66676e;
    font-weight: bold;
    font-size: 74.5%;
    letter-spacing: -0.1px;
    padding-top: 0.2%;
}

#center_item.top_nav_item {
    margin-right: 25px;
}

header {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_items {
    flex-basis: 22.2%;
}

header nav {
    display: flex;
    justify-content: space-between;
}

.categoria {
   color: black;
   text-decoration: none;
    font-size: 96%;
    font-weight: bold;
    margin-top: 2.8%;
    padding: 3% 6.7%;
}

.categoria:hover {
    background-color: #efeff0;
}

header div {
    display: flex;
    /*margin-right: 2.7%;*/
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 25px;
    /*margin-right: 11%;*/
    margin-left: 3%;
    padding-right: 9%;
    border-right: 1px solid grey;
}

#logo img {
 height: 100%;
}

#plus {
    margin-left: 9%;
    font-size: 90%;
}

#plus em {
    text-transform: uppercase;
    font-style: normal;
    font-size: 95%;
    color: white;
    background-color: black;
    padding-left: 4%;
    padding-right: 4%;
    margin: 5px;
    border-radius: 20px;
}

header section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.material-symbols-outlined {
    margin-left: 3.5%;
    border: 2px solid white;
}

#lang {
    text-transform: uppercase;
    font-size: 80%;
    margin-right: -4%;
}

#account {
 color: black;
 text-decoration: none;
}

#account:hover {
 color: white;
 background-color: rgb(26, 26, 26);
}

.material-symbols-outlined:hover {
    border: 2px solid black;
}

#navigazione {
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigazione nav {
    display: flex;
    align-items: center;
    margin-top: 0.5%;
}

.opzioni {
    flex-shrink: 0;
    font-family: Helvetica;
    font-size: 90%;
    margin-right: 3.82%;
    border-bottom: 2px solid white;
}

.opzioni:hover {
    border-bottom: 2px solid black;
}

#container_menu {
  height: 100%;
  width: 52px;
  border: 1px solid rgb(209, 209, 209);
  display: none;
}

#menu {
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu_item {
  background-color: rgb(26, 26 , 26);
  height: 2px;
  width: 24px;
  /*margin: 9px 19px;*/
}

#center.menu_item {
  width: 18px;
}

.ricerca {
  display: flex;
  height: 100%;
  width: 21.5%;
  align-items: center;
  border: 1px solid black;
  background-color: white;
}

.ricerca .material-symbols-outlined {
    margin-left: 2%;
}

.ricerca .material-symbols-outlined:hover {
    border: 2px solid white;
  }

  .ricerca input {
    font-size: 90%;
    border: 0px;
  }
  
  .ricerca input:focus {
    outline: none;
  }

  .ricerca:focus-within {
    border: 2px solid black;
    position: absolute;
    right: 0;
    height: 42px;
    width: 40%;
    transform: translate(-68%);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }

  /********************/

  #main {
    height: 1802px;
  }

  #main section .container_results {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #main section .results {
    margin-top: 5%; /*15%*/
     width: 100%;
     display: flex;
     justify-content: flex-end;
     flex-wrap: wrap;
  }

  #main section .product {
    margin: 10px;
     height: 510px;
     width: 265px;
     display: flex;
     flex-direction: column;
     align-items: center;
  }

 #main section .back_img {
    height: 410px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  #content {
    height: 48%;
  }

  #container_info {
    height: 513px;
    width: 92.7%;
    margin-top: 20px;
  }
  
  #info {
    position: relative;
    /*height: 80%;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  
  .container_opzioni div {
    height: 230px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  
  #info img {
    max-width: 17.5%;
    margin-right: 3%;
    margin-left: -3%;
  }
  
  #info h3 {
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  
  #info h3 span {
    font-family: "Martel";
    font-size: 108%;
    flex-shrink: 0;
  }
  
  #info h4 {
    font-size: 95%;
    height: 18px;
    /*color: white; 
    border-bottom: 2px solid rgb(99, 40, 224);*/
    margin: 0;
  }
  
  #info .opzioni {
    color: white; 
    border-bottom: 2px solid rgb(99, 40, 224);
    margin-bottom: 15px; 
    display: flex;
  }
  
  #info .opzioni span {
    border-bottom: 2px solid rgb(99, 40, 224);
    flex-shrink: 0;
  }
  /*#info .opzioni:hover {
    border-bottom: 2px solid rgb(99, 40, 224);
  }*/
  
  #info .opzioni span:hover {
    border-bottom: 2px solid white;
  }
  
  @media (max-width: 1025px) {
    #last.opzioni {
      display: none;
    }
  }
  
  @media (max-width: 880px) {
    #second_to_last.opzioni {
      display: none;
    }
  }
  
  @media (max-width: 875px) {
  
     #back_top_nav {
      display: none;
    }
  
    #top_nav {
      display: none;
    }
  
    header {
      width: 100vw;
      margin: 0 auto;
    }
  
    header nav {
      display: none;
    }
  
    header div {
      position: relative;
      left: 2%;
    }
  
    header section {
      position: relative;
      left: -2%;
    }
  
    #navigazione {
      width: 100vw;
      margin: 0 auto;
    }
  
    #navigazione nav {
      display: none;
    }
  
    #container_menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .ricerca {
      position: relative;
      width: 100%;
      border: 1px solid rgb(209, 209, 209);
    }
  
    .ricerca .material-symbols-outlined {
      position: relative;
      left: 90%;
  }
  }
  


